/*generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "Libre Franklin", "arial";
}

/*Titoli*/

h1{ 
    text-align: center;
    color: hsl(0, 0%, 59%);

    font-family: "Libre Franklin", "arial";
    font-weight: 200;
    padding:0 40PX;
    margin: 10px 0;
}

h5{
    font-weight: 500;
    color: hsl(0, 0%, 22%);
    text-align: center;
    margin: 10px 0 40px 0;
}

strong{
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}

/*Contenitore*/

.contenitore_principale{
    width: 40%;
    margin: 50px auto;
}

.ct_header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Struttura*

/*Header*/

.ct_header img{
    margin: 25px 0;
    max-width: 60px;
}

form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ct_up span{
    order: 3;
    color: red;
    font-size: 10px;
    font-style: italic;
    margin: 10px 0 0 30px;
}


input{
    width: 65%;
    color: hsl(0, 0%, 59%);
    padding: 10px 30px;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius:30px;
}

input:invalid{
    border: 2px solid hsl(0, 100%, 50%);
}

button{
    order: 2;
    color: white;
    letter-spacing: 1px;
    background-color: hsl(223, 87%, 63%);
    padding: 10px 50px;
    border: 0;
    border-radius:30px;
}

button:hover{
    cursor: pointer;
    background-color: hsl(223, 100%, 72%);
}

/*Main*/

.ct_down img{
    margin: 50px 0;
    max-width: 100%;
}

/*Footer*/

.ct_footer div i{
    color: hsl(223, 87%, 63%);
    margin: 0 10px 30px 0;
}

.ct_footer div i:hover{
    color: white;
    background-color:  hsl(223, 87%, 63%);
    border-radius: 100%;
    padding: 10px 23px 10px 10px;
}

.ct_footer div span{
    color: hsl(0, 0%, 59%);
    font-size: 10px;
}

@media screen and (max-width:380px) {

    .contenitore_principale{
        width: 100%;
    }

    h1{
        padding: 0px;
        font-size: 24px;
    }

    form{
        display: flex;
        margin: 0 20px;
    }

    input{
        width: 100%;
    }

    button{
        order: 4;
        margin: 20px 0;
        width: 100%;
    }

    .ct_up span{
    margin: 10px 0 0 25%;
    }   

    .ct_down img{
        padding: 0 20px;
    }

    .ct_footer div a i{
    border-radius: 100%;
    border: 0.5px solid rgb(206, 206, 206);
    padding: 10px 23px 10px 10px;
    }

    .ct_footer div i:hover{
    color: hsl(223, 87%, 63%);
    background-color: white;
    border-radius: 100%;
    border: 0.5px solid rgb(206, 206, 206);
    padding: 10px 23px 10px 10px;
    }
}











